:root {
  --theme-color: #34b7a7;
}


/*------------------------------------------
Navbar
------------------------------------------*/
.navbar-brand {
  color: var(--theme-color) !important;
  font-size: 150%;
}

/*------------------------------------------
PT Cartel, Trayn and MyTrayner section
------------------------------------------*/
.btn-lg {
  background-color: var(--theme-color);
  color: #fff;
}


/*------------------------------------------
Footer
------------------------------------------*/
footer {
  padding: 0 30px;
}
