:root {
  --theme-color: #34b7a7;
}

.big-bg {
  width: 100%;
  height: 100vh;
  background: url("../img/squat.jpg") top right;
  background-size: cover;
}

.go-down a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.go-down a:hover {
  opacity: .5;
}

#down-button a {
  padding-top: 60px;
}
#down-button a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 2px solid var(--theme-color);
  border-radius: 100%;
  box-sizing: border-box;
}
#down-button a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

/*------------------------------------------
Navbar
------------------------------------------*/
.navbar-brand {
  color: var(--theme-color) !important;
  font-size: 150%;
}

/*------------------------------------------
PT Cartel, Trayn and MyTrayner section
------------------------------------------*/
.btn-lg {
  background-color: var(--theme-color);
  color: #fff;
}


/*------------------------------------------
Footer
------------------------------------------*/
footer {
  padding: 0 30px;
}
